<div class="container">
    <h4>Cadastro de Colaboradores</h4>

    <form action="" class="mb-4">
        <div class="mb-3">
            <label class="form-label">Nome:</label>
            <input type="text" class="form-control" placeholder="Nome">
        </div>
        <div class="mb-3">
            <label class="form-label">Sobrenome:</label>
            <input type="text" class="form-control" placeholder="Sobrenome">
        </div>
        <div class="mb-3">
            <label class="form-label">Email:</label>
            <input type="email" class="form-control" placeholder="email@email.com">
        </div>
        <div class="mb-3">
            <label class="form-label">WhatsApp:</label>
            <input type="number" class="form-control" placeholder="(00) 99999-9999">
        </div>
        <div class="mb-3">
            <label class="form-label">CEP:</label>
            <input type="number" class="form-control" placeholder="00000-000">
        </div>
        <div class="mb-3">
            <label class="form-label">Endereço:</label>
            <input type="text" class="form-control" placeholder="Endereço">
        </div>
        <div class="mb-3">
            <label class="form-label">Estado Civil:</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label mb-1">Solteiro</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label mb-1">Casado</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label mb-1">Divorsiado</label>
            </div>
            <div>
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label mb-1">Viúvo</label>
            </div>
        </div>
        <select class="form-select" aria-label="Default select example">
            <option selected>Selecionar Cargo</option>
            <option value="1">Gerente</option>
            <option value="3">Assistente</option>
            <option value="2">Sênior</option>
            <option value="4">Pleno</option>
            <option value="5">Junior</option>
            <option value="6">Treineer</option>
            <option value="7">Estagiário</option>
        </select>
    </form>
    <button type="submit" class="btn btn-primary">Salvar</button>
</div>