<div id="menuVertical">
  <ul class="nav flex-column nav-pills">
    <li class="nav-item">
      <a class="nav-link text-light fs-4" aria-current="page" href="/inicio">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light fs-4" href="/colaboradores">Colaboradores</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light fs-4" href="/ferias">Férias</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light fs-4" href="/cadastro">Cadastro</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light fs-4" href="/demissao">Demissão</a>
    </li>
  </ul>
</div>
